@import "~bootstrap/scss/bootstrap";

.counters strong{
    display: block;
    font-size:1em;
    text-align: center;
}

.counters .status{

    &.unanswered{
        border: none;
    }

    &.answered{
        border: 1px solid rgb(95, 187, 126);
        color: rgb(95, 187, 126);
    }

    &.answered-accepted{
        background: rgb(95, 187, 126);
        color: #fff;
    }
}

form.form-delete{
    display: inline;
}

